<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/satellite.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site uses data from <a href="http://open-notify.org/" target="_blank">open-notify.org</a>.</p>
            <p>Map powered by <a href="https://leafletjs.com/" target="_blank">Leaflet</a> and <a href="https://www.openstreetmap.org" target="_blank">OpenStreetMap</a>.</p>
            <p>Served using Node.js/Express and Handlebars for templating.</p>
        </div>
        
        {{>footer}}
    </body>
</html>