<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/satellite.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Thank you for visiting. Please check the <a href="https://github.com/wolffpc/iss-locator" target="_blank">GitHub repository</a>> for any additional information or issues.</p>
        </div>
        
        {{>footer}}
    </body>
</html>